flows.json
[
    {
        "id": "84318a5143fdf947",
        "type": "tab",
        "label": "LinkedIn Post Improver",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b7ab102cf9517aa7",
        "type": "http in",
        "z": "84318a5143fdf947",
        "name": "",
        "url": "/css",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "ec25cd2e1b3a4c03"
            ]
        ]
    },
    {
        "id": "bd563a0724955d05",
        "type": "http response",
        "z": "84318a5143fdf947",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "text/css"
        },
        "x": 430,
        "y": 60,
        "wires": []
    },
    {
        "id": "ec25cd2e1b3a4c03",
        "type": "template",
        "z": "84318a5143fdf947",
        "name": "customCSS",
        "field": "payload",
        "fieldType": "msg",
        "format": "css",
        "syntax": "mustache",
        "template": ".main_container {\n  top:0 !important;\n  left: 0 !important; \n  height: 100vh !important;\n  width: 100% !important;\n  padding: 10px !important;\n  background-image: linear-gradient(180deg, #9bc7f3 25%, #ffffff 100%) !important;\n\n}\n.main_container>div>div>div>div>div>div>div>div>div>div>div>div>div{\n  display:flex;\n  justify-content: center;\n  align-items: center;\n  gap: 10px;\n}\n\n.main_container>div>div>div>div>div>div>div>div>div>div {\n  height:100% !important; \n}\n.form_container, .answer_container   {\n    position: relative !important;\n    top: 0 !important;\n    left: 0 !important;\n}\n\n.bp3-input, .select-button {\n    border-radius: 5px !important;\n    color: #231F20 !important;\n}\n.select-button span {\n    color: inherit !important;\n}\n\n.title .bp3-ui-text {\n   font-size: clamp(20px, 2.3vw, 50px) !important; \n   cursor: default !important;\n}\n\n.generate_btn span{\n    color: #FFFFFF !important;\n}\n\n.answer_container >div >div >div >div >div {\n  border-radius: 10px;\n  padding: 7px !important;\n \n}\n.label-container {\n  justify-content: space-between !important;\n}",
        "output": "str",
        "x": 270,
        "y": 60,
        "wires": [
            [
                "bd563a0724955d05"
            ]
        ]
    },
    {
        "id": "9caa7218666323f8",
        "type": "function",
        "z": "84318a5143fdf947",
        "name": "",
        "func": "msg.userData = msg.payload;\nmsg.url = msg.payload.website.trim();\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 300,
        "y": 180,
        "wires": [
            [
                "808693f37082f4f8"
            ]
        ]
    },
    {
        "id": "808693f37082f4f8",
        "type": "http request",
        "z": "84318a5143fdf947",
        "name": "Get Link Info",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 470,
        "y": 180,
        "wires": [
            [
                "fdb93efc2907d2d2"
            ]
        ]
    },
    {
        "id": "fdb93efc2907d2d2",
        "type": "function",
        "z": "84318a5143fdf947",
        "name": "Scrape",
        "func": "const { JSDOM } = jsdom;\nconst html = msg.payload;\nconst dom = new JSDOM(`${html}`);\n\ndom.window.document.querySelectorAll('style').forEach(link => {\n    link.remove();\n});\ndom.window.document.querySelectorAll('script').forEach(link => {\n    link.remove();\n});\n\nconst document = dom.window.document;\nconst pageText = document.body.textContent;\n\nmsg.text = pageText;\n\nlet table = dom.window.document.querySelector('table');\nlet ckeckTable = table?.textContent ? true : false;\n\nif (ckeckTable) {\n    const headers = Array.from(table.querySelectorAll('tr:first-child th, tr:first-child td')).map(td => {\n        const text = td.textContent.trim();\n        return text !== \"\" ? text : undefined;\n    }).filter(Boolean);\n\n    const rows = Array.from(table.querySelectorAll('tr:not(:first-child)'));\n    const tableData = rows.map(row => {\n        const rowData = Array.from(row.querySelectorAll('td')).map(td => td.textContent.trim());\n        return Object.fromEntries(headers.map((header, index) => [header, rowData[index]]));\n    });\n\n} else {\n     msg.pageContent = pageText;\n}\n\nconst MAX_LENGTH = 500;\n\nmsg.result = [];\nlet currentParagraph = '';\n\nconst sentences = msg.pageContent.replace(/\\s+/g, ' ').split(/([.?!])+/).filter(sentence => sentence.trim() !== '');\n\nfor (const sentence of sentences) {\n    if (currentParagraph.length + sentence.length <= MAX_LENGTH) {\n        currentParagraph += sentence;\n    } else {\n        msg.result.push(currentParagraph.trim());\n        currentParagraph = sentence;\n    }\n}\n\nif (currentParagraph.trim() !== '') {\n    msg.result.push(currentParagraph.trim());\n}\n\nmsg.payload = msg.result;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "jsdom",
                "module": "jsdom"
            }
        ],
        "x": 640,
        "y": 180,
        "wires": [
            [
                "caf650b921c5d429",
                "55d5db6359a0fa94"
            ]
        ]
    },
    {
        "id": "caf650b921c5d429",
        "type": "debug",
        "z": "84318a5143fdf947",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 220,
        "wires": []
    },
    {
        "id": "c56a7d370fa06cad",
        "type": "http in",
        "z": "84318a5143fdf947",
        "name": "",
        "url": "/getFeedback",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "9caa7218666323f8"
            ]
        ]
    },
    {
        "id": "55d5db6359a0fa94",
        "type": "function",
        "z": "84318a5143fdf947",
        "name": "make request to OpenAI",
        "func": "const data = msg.payload[0]\nmsg.OPENAI_API_KEY = msg.userData.openAIKey;\nmsg.model = msg.userData.model;\n\nmsg.messages= [\n    {\n        role: \"system\",\n        content: \"act as a web analyst\",\n    },\n    { role: \"user\", content: `${data}\n    The above is the website content for ${msg.userData.url}. Give both positive and negative feedback on the content based on the goal: Goal: ${msg.userData.goal} Feedback:` },\n];\n\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 180,
        "wires": [
            [
                "abaccb29fd60f0c9"
            ]
        ]
    },
    {
        "id": "abaccb29fd60f0c9",
        "type": "openai-ubos",
        "z": "84318a5143fdf947",
        "name": "",
        "model": "gpt-3.5-turbo",
        "temperature": 0.5,
        "max_tokens": 500,
        "prompt": "",
        "frequency_penalty": 0,
        "presence_penalty": 0,
        "top_p": 1,
        "stop": {
            "type": "json",
            "value": "[]"
        },
        "OPENAI_API_KEY": "",
        "x": 1060,
        "y": 180,
        "wires": [
            [
                "baf4fee8d569cfa9"
            ]
        ]
    },
    {
        "id": "baf4fee8d569cfa9",
        "type": "function",
        "z": "84318a5143fdf947",
        "name": "response",
        "func": "if(msg.statusCode === 200){\n    const answers = msg.payload.choices[0].message.content\n    msg.payload= answers;\n}\nelse {\n    msg.payload = `     Ooops, something went wrong!🥲\n    ${msg.payload.error.message}`\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 180,
        "wires": [
            [
                "7e57c7bee4ce47fe"
            ]
        ]
    },
    {
        "id": "7e57c7bee4ce47fe",
        "type": "http response",
        "z": "84318a5143fdf947",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1350,
        "y": 180,
        "wires": []
    }
]